[2017-10-07 02:48] etsinko opened #1 "invalid parameter passed to hub when activating scene"
This was tested on Home Assistant + aio-powerview-api 1.4
When a scene is activated scene id is passed to the hub using HTTP request. The parameter name should be `sceneId` instead of `sceneid`, otherwise hub does nothing. Please see `scenes.py`:

[code]

I'm not sure if it works with older version of hub (black box). I have a new one (white round one) and it doesn't work.

[2017-10-07 07:53] sander76 commented on #1
@etsinko You must be one of the very first having the new hub!
I'll fix it asap.

[2017-10-07 13:32] etsinko commented on #1
Thank you! I just got the hub yesterday.

On Oct 7, 2017 01:53, "sander76" <notifications@github.com> wrote:

[2017-10-10 15:53] etsinko commented on #1
I also noticed that API has changed considerably from 1.4 Are you planning to update home assistant component to use new API?

[2017-10-12 19:21] sander76 commented on #1
@etsinko I don't have a real structured plan to do so. Fixing scene activation is priority. Updating other parts of the api will be incidentally I guess....

[2017-10-12 19:38] etsinko commented on #1
I can look into this if you don't mind.

[2017-10-12 19:54] sander76 commented on #1
@etsinko Go ahead!

[2017-10-19 16:03] sander76 commented on #1
@etsinko
Fix:
https://github.com/sander76/home-assistant/blob/powerview_update/homeassistant/components/scene/hunterdouglas_powerview.py

Not able to test yet. Will do a pr after that.

[2017-10-19 16:09] etsinko commented on #1
@sander76 Thank you!

[2017-10-19 17:56] etsinko commented on #1
@sander76 Which branch should I do my pull requests to? I noticed that you updated `master` with 1.5.3 but 1.5.3 had already been published from `moving_async_def` branch (70b2878f3376eaabb6c789167bc631610313553c)

Maybe both of these branches should be merged into one?

[2017-10-19 18:10] sander76 commented on #1
@etsinko I merged your pr into the async branch. Later I will merge that with master. (It has gotten a bit messy)

After that I think I am going to adopt the structure hass is using: master and dev branch.

Never really thought about this to be honest. If you have other suggestions: I am willing to learn.

Sander

[2017-10-19 18:17] etsinko commented on #1
@sander76 I think HASS's `dev` for current work and `master` for releases is a good way to organize the project.
I can do PRs into `dev` and you can merge them as you feel. Once you have a critical mass for a new release you can merge `dev` into `master` and tag a new release.

With the current state I think you might have a couple of merge conflicts when you try to merge `moving_async_def` into `

[2017-10-19 18:20] sander76 commented on #1
@etsinko ok. Going for it!

[2017-10-19 18:22] etsinko commented on #1
@sander76 I also wanted to ask you, where did you find API for PowerView? I can't find it anywhere online? Or did you reverse engineer it?

[2017-10-19 18:27] sander76 commented on #1
@etsinko Haha. I have inside information. I work for Hunter Douglas Europe. I'm the technical manager powerview on this side of the ocean... And a hobbyist programmer ;-)

[2017-10-19 18:31] etsinko commented on #1
@sander76 Ah! Gotcha! It's good that you decided to implement this project then!

[2017-10-21 07:26] sander76 commented on #1
@etsinko see here:

https://github.com/home-assistant/home-assistant/pull/9990

[2017-10-21 07:26] #1 closed

[2017-10-25 19:39] sander76 opened #6 "Is aiohttp post method implementation correct ?"
..Or any other get,put etc method.

https://github.com/sander76/aio-powerview-api/blob/master/aiopvapi/helpers/aiorequest.py#L40

Wondering whether the implementation is according to "best practices".
Especially I am wondering what to do when the reponse is not what it should be.
I can imagine a 404 should be handled differently compared to a timeout error... Or not ? Should I just return "None" o

[2017-10-25 19:40] sander76 commented on #6
@etsinko Do you have any opinion on this ?

[2017-10-25 19:59] etsinko commented on #6
@sander76 my take on this is to use exceptions. You know what return codes are valid for each of the methods, everything else should raise an exception.

For example in `put`, you just log an error and return None for `ValueError`, `TimeoutError` and `ClientError`  but what if the user needs to distinguish between a timeout and a wrong request? There is no way to do that now but to parse logs.

Th

[2017-10-25 20:02] etsinko commented on #6
You could probably create class `AioRequestException` and subclass it as needed, i.e. `AioRequestExceptionWrongStatus` for all status codes that are invalid.

[2017-10-25 21:00] sander76 commented on #6
@etsinko So an example of recovery from the exceptions would be a retry of the same request in the `shade` or `scene` class ? Or should we implement a retry in the request method itself ?

Regardless of status code (ie 404, 500) I guess there is little point in doing any kind of recovery method after one or more retries have failed ?

So after that some kind of exception should be thrown which wil

[2017-10-26 13:06] sander76 opened #7 "Mocket does not work on windows"
It says Mocket is fully cross platform, but I can't get it to run on my windows 10 machine.
And I am not able to move to another platform (I wish I could).

I found this library:
https://github.com/pnuckowski/aioresponses

It should be too hard to replace Mocket by this one. Are you good with that ?

Sander.

[2017-10-26 13:43] sander76 commented on #7
@etsinko Please have a look...

[2017-10-26 15:24] etsinko commented on #7
Weird, as far as I know mocket is written in pure python. I'll give it a look and see why it is not working. What kind of error do you get?

[2017-10-26 15:32] etsinko commented on #6
Yes, I think `AioRequest` should be lightweight and retry should be done by the user of the method (i.e. `Shade` or `Scene` should retry).

Yes, bad status codes (404, 500) should throw an exception that the users of the `AioRequest` can't process. There is no way `Shade` class can gracefully recover from 404 error which probably means a more serious problem.

So this exception will be propagated

[2017-10-26 15:32] sander76 commented on #7
@etsinko cffi installation error. I installed a compiled binary as a possible solution, but that resulted in a wrong version of cffi

[2017-10-26 15:58] etsinko commented on #7
Weird, I have just installed python 3.5.4 on my windows 7 box and installed `mocket`. No problem whatsoever:
[code]

[2017-10-27 07:28] sander76 commented on #6
@etsinko Are you sure about where repeating should take place ?
I like the idea of having it at one central location (at `AioRequest`) and the users not having to deal with it...

[2017-10-27 15:19] etsinko commented on #6
That would work too. Maybe then add a `num_repeats` parameter to each request and default it to 0.

[2017-10-28 07:07] sander76 commented on #7
@etsinko hmmm.. weird. I retried, but can't fix it. Glad you could make the switch. I didn't really feel like having to fix this....

[2017-10-28 16:07] etsinko commented on #7
No problem. We can add Travis CI integration so all unit testing is cared of by their service.

[2017-11-05 19:56] #7 closed

[2019-06-09 17:30] pdwonline opened #9 "How to use this with home-assistant"
Can you help me how to use this with home assistant? Should I install it as a custom component?
ALso I am looking for a way to isssue the calibrate command. Ths powerview app does have this option, but I can't find it in the API

[2019-06-11 08:21] sander76 commented on #9
Just use this:

https://www.home-assistant.io/components/hunterdouglas_powerview/

The calibrate command is indeed not in this API. But feel free to do a PR.

[2019-06-11 08:21] #6 closed

[2019-06-18 13:07] #9 closed

[2021-02-09 19:50] aclements opened #10 "Duolite support"
Hello. I have the Hunter Douglas Duolite shades, which don't quite work with aiopvapi because the way the positions of the two shades are reported is a bit different from other shades. The Duolites have both a front (sheer) shade and a back (blackout) shade. They're not completely independent: the front shade has to be down all the way for the back shade to come down, and likewise the back shade h

[2021-02-13 12:58] sander76 commented on #10
Thanks for the write-up. Currently I have little to no time to have a look at this. But if you will do a pull request I'll make sure it'll get merged quickly.

Sander.

[2021-02-14 20:41] aclements commented on #10
Okay. I've been looking through the code to get a sense of how I would do this. I can think of two potential approaches:

1. Ideally, I would want to present this as two separate shades, "$NAME front" and "$NAME back". With the way the API is structured, I think I'd do this by modifying `Shades.sanitize_resources` to split each Duolite shade into two descriptors, then have `shades.factory` recogni

[2021-09-28 15:19] fabaff opened #12 "Tag the source"
Could you please tag the source? This allows distributions to get the complete source from GitHub.

PyPi has 1.6.15 while the GitHub release are on 1.6.14.

Thanks

[2021-11-14 22:59] plc opened #14 "bottom up top down support"
Hello!

I am hoping to convince someone to add support for bottom up top down (BUTD) support for this plugin. (a number of [users](https://community.home-assistant.io/t/hunter-douglas-powerview-component-expanding-this-api/88635/57?u=peterclark) have requested this over the years/months)

I am able to manipulate the BUTD shade by simply adjusting the position, for example this sets the shade to co

[2021-11-18 04:08] kingy444 commented on #14
This api has the top down functionality already - its just not built into HA - i will have a commit in the next couple weeks hopefully

i would suggest closing this issue as it is already supported

[2021-11-20 11:36] fabaff commented on #12
For 1.6.15 no proper source tarballs are available on PyPI. Arch-depended archives and wheels are not the "first choice" of distributions.

[2021-11-24 22:56] andrewfg opened #16 "PowerView API // Shade capabilities table"
I am a code contributor for the **_openHAB_** binding for Hunter Douglas PowerView shades (see info below).
- [User Documentation](https://www.openhab.org/addons/bindings/hdpowerview/#hunter-douglas-luxaflex-powerview-binding)
- [Binding Code on GitHub](https://github.com/openhab/openhab-addons/tree/main/bundles/org.openhab.binding.hdpowerview)

Just as you guys have, we are also facing the issue

[2021-11-25 08:02] sander76 commented on #16
That's looking good ! Many thanks for this. Also your repo looks very well documented. Better than mine ! ;-)

I used to be working on the European Powerview team as a technical product manager. That's why it was easy for me to get a lot of info of the internals of the system. Unfortunately for this project I am no longer involved in PowerView.

Going through the list see my remarks below:

Silhou

[2021-11-25 10:33] andrewfg commented on #16
^
Many thanks for the information. If I get any updates from others, then I will post them here too.

[2021-11-25 10:38] andrewfg commented on #16
PS I got the `capabilities` descriptions [here](https://github.com/bujvary/hubitat/blob/master/drivers/hunter-douglas-powerview-shade.groovy#:~:text=0%3A%20%22Bottom%20Up,and%20Tilt%2090%C2%B0%22)

[2021-11-26 07:09] fabaff opened #17 "Test failure"
With `aiohttpp-3.8.0` one test seems to fail.

[code]

[2021-11-26 07:25] fabaff commented on #17
Looks like that https://github.com/sander76/aio-powerview-api/pull/13 helps if applied.

[2021-12-02 19:14] sander76 commented on #17
new release : https://pypi.org/project/aiopvapi/
v1.6.19

[2021-12-02 19:14] #17 closed

[2021-12-13 00:35] mweinelt commented on #12
Sadly 1.6.19 is also not available as a source distribution on PyPi.

[2021-12-13 21:42] onkelbeh opened #18 "what about release tags?"
and on pypi there's no SDIST for aiopvapi-1.6.19.

[2021-12-13 21:51] #18 closed

[2021-12-13 21:52] onkelbeh commented on #18
sorry, missed the tag button.

[2021-12-15 13:05] andrewfg commented on #16
Just for info: here are the Shade Types and Shade Capabilities in code. => If anyone has additions of correc6tions to this list, please feel free to post the information here!

![image](https://user-images.githubusercontent.com/893994/146191336-d3003f8c-4854-466d-bc24-61c570724bd0.png)

![image](https://user-images.githubusercontent.com/893994/146191363-72511ece-87bb-4270-b92b-b864ea010ddf.png)

[2022-01-12 17:14] andrewfg commented on #16
@pessorrusso many thanks for the feedback; I will update the table above.

[2022-01-13 21:41] carpaij commented on #16
@andrewfg The capabilities of type 6 'Duette' is indeed 0. It's a regular bottom up behaving screen.

[2022-01-13 22:50] andrewfg commented on #16
@carpaij many thanks for the confirmation.

[2022-01-14 17:54] andrewfg commented on #16
@nixpanic many thanks for the feedback.

Concerning your request on that home-assistant thread.. Unfortunately I cannot solve your request directly. However I can tell you that on **openHAB** we have already implemented support for dual motor shades (i.e. those with independent rail position and tilt actions, or those with top down and bottom up rail positions). And if any of the home-assistant de

[2022-01-16 09:42] sander76 commented on #16
@nixpanic Just checking: they can move and tilt independently from each other ?

[2022-01-16 10:50] sander76 commented on #12
@mweinelt It should be now.

[2022-01-16 10:50] #12 closed

[2022-01-17 07:56] nixpanic commented on #16
Yes, attached to the ceiling:

* the bottom of the shade can move down/up
* at any up/down position, it is possible to tilt in any direction

[2022-01-19 17:42] jeffdeal commented on #16
I have Hunter Douglas "Vignette" Modern Roman Shades with Duolite that report as type 65, and I don't see that in your table.
 These shades are essentially an inner and outer shade on the same roller.  When both shades are down a room-darkening panel blacks out the room.  When the blackout shade is raised, light filters through the Roman shade.

 If you defined 100% as completely closed and 0% as

[2022-01-19 23:01] andrewfg commented on #16
@jeffdeal many thanks for the feedback. I think we already have the type 23 shades covered. But the type 65 is an interesting new one. And I have some questions about it, so that we can understand more fully.
1. From your description it sounds like the shade has two motorised rails. With fabric extending from the top of the window to the rail at the bottom. Is that correct?
2. On your remote contr

[2022-01-20 04:20] jeffdeal commented on #16
1.  The Vignette Duolite shades are two shades on one roller.  The front shade and back panel cannot operate independently.  The back panel will only descend once the front shade is all the way down.
2. Since there is only a single roller, they cannot be operated independently.
3. See this link for a more thorough description of the Vignette Duolite:  [https://fredericksburgwindowdecor.com/wp-cont

[2022-01-20 04:57] kingy444 commented on #16
@jeffdeal do these currently work on HomeAssistant - I don’t recall code well enough to remember if they would or not but from your description they should function as a normal shade all given with some strange positioning based on the percentage value of the blind

I did think if they don’t match a defined type they default to bottom up but could be wrong.
I would also assume capability is 0 mean

[2022-01-20 08:46] andrewfg commented on #16
@jeffdeal could you post the response when you open the link http://<hub-ip-address>/api/shades in a browser?

[2022-01-21 18:06] andrewfg commented on #16
I added type 65 to my [openHAB Shade & Capabilities Database](https://github.com/andrewfg/openhab-addons/blob/hdpowerview-shade-capabilities-database/bundles/org.openhab.binding.hdpowerview/src/main/java/org/openhab/binding/hdpowerview/internal/database/ShadeCapabilitiesDatabase.java) with the provisional `capabilities:0` value; but @jeffdeal it would be really great if you could confirm (or deny)

[2022-01-21 18:16] andrewfg commented on #16
^
Actually, looking at the capabilities table, I think that yours will have `capabilities:8` but I would still appreciate the confirmation..

![image](https://user-images.githubusercontent.com/893994/150579132-6eaf1b8f-5214-4fb3-af3d-bb268c153a6d.png)

[2022-01-21 18:25] jeffdeal commented on #16
I believe 8 will be correct for this shade - lift only Duolite operation.  Thanks!

[2022-01-22 15:28] andrewfg commented on #16
@jeffdeal many thanks for the info about the capabilities. Do you also confirm that the above is an exact description of the rail positions? Do you therefore have any thoughts about how one would model this behaviour in a UI in an ideal world? For instance, perhaps having two sliders where the first one controls the front shade (UI slider 0..100% maps to raw position 0..50%), and the second slider

[2022-01-22 16:53] jeffdeal commented on #16
Hi, I was just using the percentage descriptions to try to describe the way these shades work.  In the official Power View app, the UI shows the shade and the back panel as separate entities. But as previously described, they cannot operate independently.  The shade has to be all the way down before the back panel will come down.

For example, if I have the shade halfway up, by definition the back

[2022-01-22 17:15] andrewfg commented on #16
@jeffdeal thanks for the screen shots. Does it work at all in HA at the moment? And if so, what do you actually see in HA in the following cases?
1. Front shade fully up
2. Front shade half down
3. Front shade fully down, back shade fully up
4. Back shade half down
5. Back shade fully down

[2022-01-22 17:35] andrewfg commented on #16
@jeffdeal as a better alternative (in particular if it does not work for you at all in HA at the moment), can you please post the results of moving the shades to each of the 5 cases mentioned above, and then loading this url `http://[hub-ip-address]/api/shades/[shade-id]` in your bowser? To be specific I would like to see the 'positions' fragment, as in the example below, in its entirety i.e. `pos

[2022-01-22 20:37] jeffdeal commented on #16
Yes, these shades show up in HA and I can do some rudimentary control like open and close.  There is an attribute called "position" that varies from 0 to 100 where 0 is fully closed and 100 is fully open.  There are up, down, and stop controls available, plus a slider that shows and can control the position.

However, this has no effect on the back panel.  Home Assistant seems unaware of the posit

[2022-01-22 20:55] andrewfg commented on #16
@jeffdeal that is really interesting; but it opens more questions than giving answrs; so I think it would be very interesting to see the 'positions' values of the five cases mentioned above.

[2022-01-23 14:04] jeffdeal commented on #16
Thanks for providing the method of finding the position values.  I had missed that before I sent my previous response.

Here is what the shade reports from the hub at each of the requested positions.  These are the Vignette Duolite shades, type 65:

Front shade fully up:  position1: 65535, posKind1: 1
Front shade half down:  position1: 32339, posKind1: 1
Front shade down, back up: position1: 0, po

[2022-01-23 14:43] andrewfg commented on #16
@jeffdeal That's perfect!

As you say, the functionality of type:65 capabilities:8 shade seems to be analogous to the regular 'bottom up / tilt when closed' shades when the shade is fully down, except that
1. At this point the posKind value is 2 (secondary shade) instead of 3 (tilt / vane), and
2. The maximum position value of the secondary shade is 64k rather than 32k (90 degree tilt vs 180 degre

[2022-01-23 19:45] andrewfg commented on #16
BTW I am working on the assumption that the above logic must apply also to shades having `capabilities:9` ('Duolite Lift and Tilt') i.e. shades with **BOTH** a blackout shade **AND** a tilt anywhere function -- see [video](https://www.youtube.com/watch?v=GRQ04HRhTDQ)..

[code]

[2022-01-23 20:29] trullock commented on #16
I have Silhouette (type 23) blinds which support an arbitrary tilt angle when "closed".

in Home Assistant using the built-in integration which I believe uses this library, I have no control over the tilt (angle or open/close)

Am I missing something, or is this not implemented?

I can see this:

[code]

in `resources/shades.py` but thats about it.

Happy to contribute and test, if I can get some

[2022-01-27 22:19] andrewfg commented on #16
Surely these shades should support tilt at any position, (not just when closed). Or??

[2022-01-27 23:58] pessorrusso commented on #16
You can adjust the tilt only when fully closed. If you adjust the tilt while it is open the shade will automatically close before being able to tilt.

[2022-01-28 08:54] trullock commented on #16
what @pessorrusso  said.

Is there anything I can do to advance this fix? Let me know how to be helpful 👍

[2022-01-28 09:40] sander76 commented on #16
Silhouette can only tilt at the bottom. It's the way they are constructed.

[2022-01-28 18:48] andrewfg commented on #16
^
So I am a bit confused: the type:23 shades have capabilities:1 which would imply some different functionality than the base capabilities:0 shades; but you guys are reporting that in reality they have the same tilt on closed functionality, as the base shades. Or?

[2022-01-28 18:51] trullock commented on #16
My JSON reports `"capabilities": 1`
The whole "blind" can be opened and closed to any arbitrary height.
When its fully down, you can then adjust the tilt of the vanes by an arbitrary amount.
You cannot adjust the vane tilt in any other position other than fully down.

I can't comment on any other models, as these are the ones I have :)

[2022-01-28 18:59] andrewfg commented on #16
^
Indeed. The behavior is identical to my shades with capabilities:0; Most peculiar..

[2022-02-02 17:22] andrewfg commented on #16
Hmm. What I am seeing from my side, is that it **_SHOULD_** already be working for you; that is why I am confused.

[2022-02-02 17:28] trullock commented on #16
Maybe I'm being stupid? How do I double check (humor me)

Adding the "cover" to a dashboard or looking via the integrations/devices/entities pages, i only get up/stop/down buttons...

[2022-02-02 17:42] jeffdeal commented on #16
Same here.  And in my case, the up/down/stop buttons and reported position values don't always reflect reality.  For example, I could have a shade all the way up, but the UI the "down" arrow to close the shade won't be available.  I have to hit the up or stop button before the UI enables me to select down.

________________________________
From: Andrew Bullock ***@***.***>
Sent: Wednesday, Februar

[2022-02-02 19:05] andrewfg commented on #16
^
The thing is .. I have to be honest with you guys .. I don't actually use HA on my system, so I cannot physically look at covers or their buttons. The only thing I can look at is the code, which tells me that the normal HDPowerView 'tiltOnClosed' functionality is implemented in the HA codebase. Could it be that you guys are running an older version of the code?

=> Perhaps @sander76 can advise o

[2022-02-02 19:11] andrewfg commented on #16
^
Hmm. Perhaps this code ..

https://github.com/sander76/aio-powerview-api/blob/89711e2a0cb4640eb458767d289dcfa3acafb10f/aiopvapi/helpers/shade_types.py#L59

.. should be updated to this ??

[code]

[2022-02-02 19:13] trullock commented on #16
Githubs 500ing for me at the mo, hoping this email reply works....

I'm busy for a few days but can debug next week. Do we have a confirmed
working in HA blind type I can compare it to?

On Wed, 2 Feb 2022, 20:11 Andrew Fiddian-Green, ***@***.***>
wrote:

[2022-02-02 20:34] andrewfg commented on #16
working in HA blind type I can compare it to?

It seems to be the same as type 44

[2022-02-02 20:38] andrewfg commented on #16
@trullock @jeffdeal can you please advise when you operate the tilt via the remote control, is the range of tilt 180 degrees (closed / open/ closed) or just 90 degrees (open / closed)?

[2022-02-03 06:07] trullock commented on #16
It's ~90

[2022-02-03 10:16] andrewfg commented on #16
Ok, it sounds as though it should have the same functionality as my Type 44 Twist shades..

[2022-02-03 14:33] jeffdeal commented on #16
Tilt on my shades goes between 0 and 90 degrees.
________________________________
From: Andrew Fiddian-Green ***@***.***>
Sent: Wednesday, February 2, 2022 3:38 PM
To: sander76/aio-powerview-api ***@***.***>
Cc: jeffdeal ***@***.***>; Mention ***@***.***>
Subject: Re: [sander76/aio-powerview-api] PowerView API // Shade capabilities table (Issue #16)

@trullock<https://na01.safelinks.protection.out

[2022-02-03 18:45] andrewfg commented on #16
Ok thanks. I think that the code change that I suggested above might fix it for you both..

[2022-02-03 20:19] jeffdeal commented on #16
Tilt on my shades is 90 degrees - open/closed.

Jeff
________________________________
From: Andrew Fiddian-Green ***@***.***>
Sent: Wednesday, February 2, 2022 3:38 PM
To: sander76/aio-powerview-api ***@***.***>
Cc: jeffdeal ***@***.***>; Mention ***@***.***>
Subject: Re: [sander76/aio-powerview-api] PowerView API // Shade capabilities table (Issue #16)

@trullock<https://na01.safelinks.protection

[2022-02-12 21:27] trullock commented on #16
Does this mean we can publish a fix to make these appear properly? ;)

[2022-03-01 12:28] kingy444 opened #19 "Timeout issues"
Hoping to get your insight on the below - Home Assistant is throwing these errors for me.

Trying to get to the bottom of it (doing dev work on the integration for tdbu shades) but it looks like it stems from the aio request side rather than HomeAssistant.

I havent looked into your code too heavily yet but could maybe be related to the 423 response code we added a whileback and this call  ? check

[2022-03-20 01:02] kingy444 commented on #16
Not sure why the link broke but here is an up to date one

Where have we landed with the new shade types and adding them to this API ? I will look at adding them to HA from there

https://github.com/andrewfg/openhab-addons/blob/main/bundles/org.openhab.binding.hdpowerview/src/main/java/org/openhab/binding/hdpowerview/internal/database/ShadeCapabilitiesDatabase.java

[2022-03-20 18:16] andrewfg commented on #16
My fault. When my branch of my fork of the OpenHAB repo was merged into openhab/main, I deleted that branch. And BTW your link above is also on my fork of the repo, so it might suffer the same fate in the future; (although it is currently up-to-date with openhab/main)

=> The safest live link to `ShadeCapabilitiesDatabase.java` is as follows (it will always have the latest version of that file)..

[2022-03-21 08:16] trullock commented on #16
From a casual read of the code, I can't see why Sillhouette (type 23) don't already support tilt on close,

https://github.com/sander76/aio-powerview-api/blob/89711e2a0cb4640eb458767d289dcfa3acafb10f/aiopvapi/resources/shade.py#L221

I'll try and debug it later, perhaps @kingy444 you can start from the other end (HA) and see if you can see whats wrong?

[2022-03-21 11:22] kingy444 commented on #16
I think you’re right - I didn’t doubt the 23 shades working from HA - my question was aimed at the type 51 which we need to add to the shade types to be detected properly.

I see in the capability database it’s labelled as Venetian blind for openhab- we use these names within HA to describe the blind

[2022-03-21 12:42] kingy444 commented on #16
Correct - I am already submitting a PR for tdbu support for HA support and chatting here to discuss extending that to support tilt 😉 so it’s in train

type 23 shouldn’t be a problem and from
There neither will the others but just wanted to find out how we were handling type 23

don’t think there is anything needed from you in the HA space at the moment @trullock 😉

[2022-03-21 12:50] andrewfg commented on #16
Did you guys read my prior post?
Your current code says `ATTR_TYPES: (44)` and I think the list should simply be extended => `ATTR_TYPES: (44, 23)`

https://github.com/sander76/aio-powerview-api/issues/16#issuecomment-1028273819

[2022-03-21 12:54] kingy444 commented on #16
I think that whole file appears to be commented out? Unless I’m missing something there - I’m no python expert but I know my way around object oriented languages

type 23 is defined here though under its own class
https://github.com/sander76/aio-powerview-api/blob/89711e2a0cb4640eb458767d289dcfa3acafb10f/aiopvapi/resources/shade.py#L222

[2022-03-21 13:03] kingy444 commented on #16
Do these also tilt like type 23? I will update and submit a PR so the HA side works if so

[2022-03-21 13:06] trullock commented on #16
@kingy444 I can only speak for type 23, capabiltities: 1 (see my posts above)

Happy to test your PR, link me a branch

[2022-04-01 08:36] kingy444 commented on #16
anyone not on the HomeAssitstant thread i have a Google Drive version pushed out atm (havent commited anything to GIT atm) https://community.home-assistant.io/t/adding-tilt-to-the-hunter-douglas-powerview-cover-integration-luxaflex/233720/35?u=kingy444

Added the first iteration of tilt today

[2022-04-01 08:40] trullock commented on #16
Awesome, I was going to ~nag~ follow up about this today ;) I'll help test!

[2022-05-16 21:44] lilyball opened #20 "Duette Duolite support"
I have Duette Duolite shades. These are different shades than the ones referenced in issue #10. My shades are functionally identical to type 8 top-down/bottom-up shades except they have a second fabric extending from the middle rail up to the top rail. I also have a type 8 tdbu and AFAIK my type 8 and type 9 shades control identically. I played with the API as well and the shades match the documen

[2022-05-16 21:47] lilyball commented on #10
FWIW there are multiple types of Duolite shades. In particular, Duette Duolite does not work this way, it works identically to TDBU. I filed issue #20 on that, but it might be worth updating the title on this issue to reflect the specific type of Duolite shade you're asking for. https://www.hunterdouglas.com/duolite lists 4 different options so it's possible there are two more `type` values as wel

[2022-05-17 15:03] kingy444 commented on #20
Can you please expand how the shades function with the api commands - The JSON for most blinds only accepts poskind1 and poskind2 from my experience

These shades efectively have 3 positions availalbe

Can you post the example api commands and what the position ends up being - ideally all positions are always in the API JSON so we can store them in HA for you
see current branch pre-commit avaialbl

[2022-05-17 15:10] kingy444 commented on #16
@pessorrusso new post on HA forum - can you please test type 18

[2022-05-17 15:35] kingy444 commented on #16
Hey - New shade from HA forum - could you give me a hand understanding the capabilities too
Like for instance - how does capability 2 and 4 differ ?

how does type 0 differ from type 3 (we have shades in the same class here under ShadeBottomUp.

 Then our class ShadeBottomUpTiltAnywhere has capability 2+3 listed together too - but from your code i would think perhaps this is wrong as cabability 3

[2022-05-17 18:21] andrewfg commented on #16
I believe 0 & 2 move the shades in the Y axis (up/down), whereas 3 & 4 move them in the X axis (left/right). but apart from the axis orientation, the control actions resp. API command/responses should be the same.

I can't really answer this because I don't own any such shades. However as a general rule, I think there should be a separate class to implement each capability type. Albeit as noted ab

[2022-05-18 14:31] pessorrusso commented on #16
I'll be able to test this weekend.

[2022-05-18 14:52] andrewfg commented on #16
Yes. I think these shades have bottom rail fixed to the floor, motor at the top, that lifts top rail up from the floor. So when the motor is down, the shade is open.

[2022-05-18 15:06] andrewfg commented on #16
Yeah. I guess that when HD invented the system, they only had single motor (position1) shades, and capability 0 was the first. So when they realised they could do tilt and vane stuff (e.g. venetian blinds) without needing a second (position2) motor, simply by driving the position1 motor a bit further beyond its closed position, they probably added that to capability 0 as a kind of freebie extra. B

[2022-05-18 15:20] kingy444 commented on #16
Silhouette Duolite apparantly

[2022-05-18 15:21] kingy444 commented on #16
that will give us 1 of each capability except for type 4 i believe

[2022-05-18 15:41] andrewfg commented on #16
PS @kingy444 you may be interested in the 'HD Powerview API Appendix' created by @jlaur. (I suggest you contact him in case updates are available..)

[HD Powerview API Appendix.pdf](https://github.com/sander76/aio-powerview-api/files/8717762/HD.Powerview.API.Appendix.pdf)

[2022-05-18 15:51] andrewfg commented on #16
@kingy444 I also saw someone was mentioning a type 18 shade (another new one for me) =>do you have any JSON info for that one yet?

[2022-05-18 15:55] kingy444 commented on #16
They appear follow the same format as type 23 (and are named the same)

posted here already actualy ;)
https://github.com/sander76/aio-powerview-api/issues/16#issuecomment-1011157777

[2022-05-18 16:06] andrewfg commented on #16
@kingy444 many thanks. Below are my two tables updated to state of the art with types 18 and 38..

![image](https://user-images.githubusercontent.com/893994/169089574-2f87877d-6de1-4fcf-8e0e-6d98792fe680.png)

![image](https://user-images.githubusercontent.com/893994/169089726-58b318c2-9bde-4617-86e7-bc7a08ab1820.png)

[2022-05-19 02:15] kingy444 commented on #16
@andrewfg

I still need to have a look at your code (been a while since I used Java) but do you know offhand if these type 8 capability accept a json comma on containing both the position1 and position2 in 1?

we send a close command by default of poskind1=0 but for top down/bottom up we send both positions as 0 in the same command

@jeffdeal if you could close your shade and then check the result

[2022-05-19 03:17] jeffdeal commented on #16
Hi folks, here's the result of the call against my hub.  I have 6 shades; 3 of type 23 and 3 of type 65.  All shades were closed when this was collected.  Let me know if you need something else!

{"shadeIds":[19733,53613,10539,9040,53946,45588],"shadeData":[{"id":19733,"type":23,"capabilities":1,"batteryKind":2,"smartPowerSupply":{"status":0,"id":0,"port":0},"batteryStatus":3,"batteryStrength":188

[2022-05-19 03:45] andrewfg commented on #16
@kingy444 in my experience you can always send a JSON payload to the hub with both a position1 and a position2 in it. You can even send a secondary position in position1 and a primary position in position2. And the hub will sort it out, and send the correct commands to the shade motors. And it seems the JSON response from the hub will contain the sorted out values. Either with a single position el

[2022-05-19 03:53] andrewfg commented on #16
^
Correction to above: if you send a JSON payload to the hub with a munged combination of position1 and position2 values, the hub will respond parrot fashion with what you sent it. However if you do ‘refresh=true’ the hub will respond with the de-munged position(s) as appropriate.

[2022-05-19 03:59] kingy444 commented on #16
How are you handling type 18/23 shade position when you move the tilt on the UI

Yea I tested this with the tdbu

mainly around the shades that don’t send poskind 1 when they tilt a blind and we just have to assume the position

For others that always present the value we are returning the value directly from the JSON now as this works much more consistently but the shades that only send one posit

[2022-05-19 04:18] andrewfg commented on #16
Generally a tilt on closed shade will only use one position element in its JSON. If it’s posKind is for the primary shade, and it’s position value is less than fully down, then the vane position is de-facto UNDEF. And if it’s posKind is for the vane position, then the primary rail position is de-facto fully down.

Note that because of the above-mentioned position interlocking, there is one specifi

[2022-05-20 00:41] kingy444 commented on #10
@aclements dont think we will need that but see how we go - i am working on others so I will try to get this into the api and then HA from there for you but could you please post an updated json - we were under the impression type 79 had capabilities type 8 but your json has -1 which we dont have documented.

would be great if it is type 8 if you could confirm the functionality as below (that it i

[2022-05-20 00:44] kingy444 commented on #20
Assuming

I've hacked together as part of my current work to test functionality for you - could you test the custom component from here: https://community.home-assistant.io/t/adding-tilt-to-the-hunter-douglas-powerview-cover-integration-luxaflex/233720/99?u=kingy444

[2022-05-20 00:50] kingy444 commented on #16
yep - they treat that as a up down command - as do my type 6 - but both of these have capability 0 so that isnt surprising.

[2022-05-21 04:34] kingy444 commented on #16
@jeffdeal as i understand you cannot move these without the other being in a particular position - are you comfortable posting commands to the shades to test or perhaps @andrewfg  has the answer

@andrewfg from the openhab code it looks like you invert poskind=2 for supportsBlackoutShade which is good to know

Really - i just need to work out the JSON that needs to be sent for open position + clos

[2022-05-21 10:23] andrewfg commented on #16
In OH each shade can (potentially) have three channels -- namely the primary shade, the secondary shade, and the vane; and their respective functionality is defined depending on the shade's advertised capabilities, as follows..
- Channels are dis/en-abled depending on whether shade actually has primary/secondary rails and/or vanes.
- Disabled channels return position 'undefined' in UI.
- Adjust ma

[2022-05-21 11:53] jeffdeal commented on #16
Good day, I'd be happy to test sending commands to shades but would need some instructions on how to do so.

My Silhouette shades are roller shades with tilt, type 23, capabilities 1.  The vanes tilt from 0 to 90 degrees, only when the shade is fully down.

My Vignette Duolite are roller shades with a darkening back panel, type 65, capabilities 8.  Starting from fully open, the light filtering pan

[2022-05-21 11:54] andrewfg commented on #16
[code]

@kingy444 if you stick the back (secondary) shade positions in position2/posKind2 then you will always have both the primary shade data (in position2/posKind2) and the secondary shade data (in position1/posKind1)..

[2022-05-21 12:49] kingy444 commented on #16
From the description I was working on the expectation that only position1 was being processed(similar to type 23 - they will accept position2 but ignore it)

@andrewfg do you know from your testing of these if sending a poskind2 command moves poskind1 as well? The way I was reading it was the back shade would move until the front one did or are those completely seperate and operate independently.

[2022-05-21 12:54] jeffdeal commented on #16
On type 23, the vanes cannot tilt unless the shade is completely closed.

On type 65, the front and back panel are NOT independent, as they are on a single roller.  The front shade must be fully closed before the back panel can be lowered.  Likewise, the back panel must be completely open before the front shade can be raised.

Jeff

________________________________
From: kingy444 ***@***.***>
Sent

[2022-05-21 13:38] kingy444 commented on #16
that makes it quite interesting implementing these in HA as moving one relies on the other. @andrewfg from your experience what are the position restrictions on these ? ie similar to type 23 - poskind 1 appears to need to be 65535 before we send and poskind2 above 0? Do you have these as primary and secondary in openhab or a single slider?

To make sure i have it clear in my head lets try to use s

[2022-05-21 16:26] andrewfg commented on #16
I am not completely sure. But in general I think this it could happen. If you send an impossible combination of positions to a shade, it will generally try to do SOMETHING. It obviously cannot achieve the commanded impossible position, but it will move to some position within the range of what is possible. I am not sure whether if (say) commanding a TDBU bottom rail above its top rail would a) mov

[2022-05-22 00:04] kingy444 commented on #16
What I am now thinking for type 8 at least (I’m not sure on how to implement for type 9 (they are tdbu and tilt right ? @andrewfg ))

@jeffdeal your current description is that the shade works in HA for the front panel 0-100 is representing the front shade all the way open at 100 right. And if I have my logic correct the back shade cannot start moving until this occurs right ? Lack of secondary ra

[2022-05-22 00:07] kingy444 commented on #16
I definitely agree with you here, and we are doing that for the TDBU but the issue is “what is an impossible position”
TDBU top shade can’t be below bottom shade - pretty simple - just need to work out the logic in laments terms for other impossible positions and translate that to the code equivalent

So like with these type 8 it sounds like then the front shade is below 65K the back shade cannot

[2022-05-22 10:12] andrewfg commented on #16
A caps 9 shade is like a caps 8 but with a tilt motor added.
- Caps 8 and Caps 9: the primary and secondary shade positions are packed using the interlock logic in position1/posKind1
- Additionally Caps 9 only:  the tilt position is independently in position2/posKind2

---

From my perspective the following are impossible positions, and how they interlock..
[code]

[2022-05-24 22:20] kingy444 commented on #16
Just try moving the shade slider and report how it works. Similar to the REST commands we sent (all the code does is generate the JSON)

So test things like setting to 25 (should open back halfway) then move straight to 75 (should open the back fully and open front halfway)
Pressing close should close both shades and pressing open should open both

test something similar with the type 23 too if yo

[2022-05-25 08:18] kingy444 commented on #16
@andrewfg sorry for keeping lean on you mate - appreaciate your help

little confused with the comments above - i thought the blackoutshades had secondary inverted (0 open and 65535 closed) and i thought your code actually reflected that
I have coded from my end to align with the reports from @jeffdeal but appreaciate your input as ever

[2022-05-25 08:38] kingy444 commented on #16
@jeffdeal  all this still applies but can you download the new version - i added the two hidden shades i spoke of - you will need to browse to the device to see them as they are hidden

Go to Intergrations - select devices - select the type 65

![image](https://user-images.githubusercontent.com/7148670/170219586-9aa6e647-17d6-4131-92b1-d8613b40f81d.png)

[2022-05-25 10:09] andrewfg commented on #16
@kingy444

Nope. (Actually in OH ALL bottom up shades are treated as ‘inverted’ since the standard OH UI RollerShutter control considers up (resp. off) to be position 0% and down (resp. on) to be 100%..)

[2022-05-25 11:50] jeffdeal commented on #16
Good day, I installed the custom component, configured it, and gave it a try today.  The type 23s work great with the position slider!  The type 65s did not work as described.  Using the slider only commanded the front panel, so any position requested always raised the back panel first.  Setting the shade fully closed only did so for the front panel.

[2022-05-25 13:04] kingy444 commented on #16
MMM that doesnt make a lot of sense - i just tested the json and it all looks to be generating correctly. I would expect the 'Front' to act the way you described and the back to do the inverse

Combined should then act the way i described sending 0-50 and 51-100 commands

In my Screenshot you will see there are 3 entitties created now - did you test all 3 ?

I have just popped another version up t

[2022-05-25 14:48] jeffdeal commented on #16
I've not been able to see the controls that you are showing.  I've removed and re-added the custom component.  I added the hub, and devices got created with a _2 suffix so they're easy to identify.  I can see my three type 65 shades on BOTH the standard and custom integrations, and can tell them apart.  I have not seen a control panel like you're showing, though.  Here's a screen shot of what's in

[2022-05-25 22:04] kingy444 commented on #16
Can you re-download the custom component and install it again please - there is another version.txt in there to identify which one you have

Remove the one you currently have (both the custom and core so there are no conflicts) reboot your HA and then readd the integration

If they are recognised as type 65 successfully you will have 3 entities created for each shade

If you wish to get to the con

[2022-05-26 18:02] jeffdeal commented on #16
Sorry to be so needy with this testing - I have tried to follow your instructions and can't seem to get to the control for the type 65s.  Here's what I've tried:

- Deleted the existing Hunter Douglas integration from my Integrations settings
- Deleted the custom integration from Integrations, deleted and removed the files from custom_components
- Re-downloaded the custom integration and installed

[2022-05-28 02:08] kingy444 commented on #16
Not needy mate - side effect of being unable to test completely locally - believe i found the bug. Nothing you were doing wrong

Can you re-download and repeat the process please

[2022-05-29 12:03] jeffdeal commented on #16
Whew!  Thanks, I was losing my mind.  I downloaded the new component today and it works as described.  I can now see the separate entities for the combined, front, and back on the type 65 shades, and each is working.

[2022-05-31 06:13] kingy444 commented on #16
@andrewfg  could you confirm for me - are the type 7, capability 6 shades (Top Down) only referred in that way because of the functionality of the motor (inverted) or are they actually top down - couldnt find much on them online

Know i pinged you on the other forum too but if you have the data for palm beach shutters that would be great

[2022-05-31 07:17] andrewfg commented on #16
Apropos the top downs, have a look at the pictures I posted here..

https://github.com/jlaur/hdpowerview-doc/issues/1#issuecomment-1136141254

[2022-06-06 16:40] pessorrusso commented on #16
:) I just checked the HD website and my receipt, yes it is a Pirouette. Sorry the confusion.
You code is working fine for it.

[2022-07-07 14:23] jpearl commented on #16
Adding a few unmentioned shade types. In particular, looking to see what adding support for `33` would be, though i suspect it's identical to the existing TDBU implementation

|type|capabilities|name|comment
|-|-|-|-|
|31|0|vignette|works today with default implementation
|33|7|duette architella|TDBU - does NOT currently work

[2022-07-07 14:27] kingy444 commented on #16
Confirming json is best but these shouldn’t be a problem

someone asked for type 33 today but haven’t heard back from them yet to confirm

likelyhood is type 7 works as is, we are just never confident as there are two implementations of type 0

https://community.home-assistant.io/t/adding-tilt-to-the-hunter-douglas-powerview-cover-integration-luxaflex/233720/195

[2022-07-07 14:39] kingy444 commented on #16
@andrewfg just for your attention in the openhab space mate 😉

[2022-07-07 19:17] jpearl commented on #16
For 33:

(Note: there's a slight chance these are reversed; left commentary in the table)

|position|json|
|-|-|
|Top fully open / bottom fully closed  (shade material is sitting on the bottom of the window)|`"positions":{"posKind2":2,"position2":65535,"posKind1":1,"position1":0}}}`
|Top fully closed / bottom fully open (shade material is all the way at the top) |`"positions":{"posKind2":2,"positi

[2022-07-07 22:54] kingy444 commented on #16
Perfect mate - definitely standard tdbu and inclusion will be simple 😉

[2022-07-10 15:21] andrewfg commented on #16
@jpearl thanks for reporting, @kingy444 thanks for confirming

I am just updating the OpenHAB code base to match yours..

https://github.com/openhab/openhab-addons/pull/13110

[2022-07-24 05:41] andrewfg commented on #16
@kingy444 do you have any user data on shades type 55 or 56 ? My reason for asking is that I have a user whose shades report as below (his type 56 is basically the same as the 55), and they have vertical vanes with main position / tilt anywhere / tilt 180.

So I think that we may have the following errors / mix ups..
- capabilities:4 and capabilities:3 should be interchanged
- shade types 54 thru

[2022-07-24 06:01] kingy444 commented on #16
definitely have report of both 54 and 55 being capability 3 but the same post also has type 55 as capability 4 -wtaf

Linked and copied important part below

but as you can see they have 4 of these and 2 are reporting capabiity 3 and 2 are reporting capability 4

the two reporting capability 3 have completely different motor revisions
the two reporting capability 4 have the same motor revision

ht

[2022-07-24 07:04] andrewfg commented on #16
^
@kingy444 many thanks for the information. But unfortunately I think your conclusion is not right because if you examine the `positions` element in the JSON posted by the user (link below) you can see that both capabilities:3 and capabilities:4 variants contain double position values, which means that both variants of the same shade type do actually support both a main and a vane position. Meani

[2022-07-24 07:08] andrewfg commented on #16
@jlaur could you please give me your thoughts about how we should handle these type 54/55/56 shades, where some instances report capabilities:3 and other instances capabilities:4 ???

[2022-07-24 07:10] kingy444 commented on #16
@andrewfg  I was suggesting that capability 3 is tilt 180 and capability 4 is plain open close as we have them currently and that type 54,55 & 56 should be forced to use capability 3 to get a tilt functionality regardless of what capability they return in the json. (this is how HA and this API function atm)

Really we need JSON for either 69,70 or 71 to confirm what capability 4 looks like on a di

[2022-07-24 08:27] jlaur commented on #16
This is our current order of precedence:
- capabilitiesOverride for JSON type
- JSON capabilities
- capabilities for JSON type

So if some of these shades actually report wrong capabilities, and they all actually share the same capabilities, we should simply use capabilitiesOverride like we did for type 44 (Twist).

If actual capabilities are different from shade to shade for same type, we have to

[2022-07-24 08:43] andrewfg commented on #16
@jlaur @kingy444 many thanks for your inputs; I will make a new PR for the OH code.

[2022-07-24 09:28] kingy444 commented on #16
This is just an FYI on this API

V2 which will be packages soon has two methods to identify a shade.

First via hard coded shade “type” - this makes sure shades are given the type we want them to and this is passed to HA

Second (this is the new part) does a smart check via capability and assigns an educated guess to the type of shade it should be using.
Meaning this API should in theory now suppo

[2022-08-18 18:37] fabaff opened #22 "Tag the source"
It would be very helpful if you could tag releases as well again. This would enable distributions who want to fetch the source from GitHub instead of PyPI.

Thanks

[2022-08-29 13:14] andrewfg commented on #16
@kingy444 picking up from the thread on the HA forum concerning capabilities 3 vs 4.
1 We had wrongly assumed that caps:3 was with tilt and caps:4 without
2. We saw a user with shade types 54,55,56 reporting caps:4
3. The same user also had shade types 54,55,56 reporting caps:3
4. So we applied an artificial override on those shade types to force all of them to caps:3
5. We now see that assumption

[2022-08-29 13:29] andrewfg commented on #16
^
... and BTW shades type 69/70/71 (curtain) change from caps:4 to caps:3 ..

[2022-09-06 12:56] jwvanderbeck opened #23 "Hub v3 support?"
Is there any chance of this being updated to support the newer API that Hub v3 uses or should I start looking to implement that on my own?  I know it would probably be a rather large update which is why I ask.

[2022-09-06 13:08] bdraco commented on #23
I don't think any of the maintainers have a v3 hub so its probably something we would need a PR to support

[2022-09-06 21:07] kingy444 commented on #23
I haven’t had a chance to look at this yet but the developers from OpenHAB managed to get in touch with someone from Hunter Douglas who has been extremely helpful.

You are correct, there is a bit of work to do to make it work but I have an idea of what needs to be done with minimal impact.

As @bdraco mentioned we lack a v3 hub so if you have the capacity to spin up a Dev environment I can supply

[2022-09-06 21:11] jwvanderbeck commented on #23
Be more than happy to provide whatever help I can offer.

I have some basics working with node red flows right now but I agree
getting this python side to support both and the HA just works is the best
outcome!

On Tue, Sep 6, 2022 at 5:07 PM kingy444 ***@***.***> wrote:

--
- John Vanderbeck
- http://www.johnvanderbeck.com

[2022-09-07 05:59] #22 closed

[2022-09-26 09:06] TonECCT opened #25 "TopDown/BottomUp shades do not show two different enities anymore"
All my TDBU shades stopped working correctly regarding the two different entities that will be created for each blind: Top and Bottom, after I installed these updates: HA Core 2022.9.4, HA Supervisor 2022.8.6, HA OS 9, running in an Intel macOS VirtualBox. I do have two PV hubs (I have 15 blinds of which 6 are TD/BU) configured as primary and secondary and the max. number of scenes (31) in the Pow

[2022-09-29 05:25] #25 closed

[2022-10-08 05:33] kingy444 commented on #16
@andrewfg just added 26/27/28 type definitions - Skyline Panels with capability 3
[code]

[2022-10-11 08:05] jeffdeal commented on #16
Good day folks, I have installed ARC and have successfully sent commands to my shades, type 23 and 65.  I am happy to run any tests you need.

I've done a little playing around with my shades this morning.  For my testing I have only sent values in posKind1 and position1.  I did not include posKind2 and position2 in the JSON at all.

For the type 23s:

When posKind1 = 1, sending a value in positio

[2022-10-11 08:09] kingy444 commented on #16
@jeffdeal i think we have all types sorted

over on the HA forum a custom version of the component is posted to test

the only thing reported there was the open close buttons not working for type 8/9/10 (oversight in me transferring code to new format)

you’re welcome to install and test that - I’ve been working on the PR to get these into core HA this week - hopefully I can get the PR in time for

[2022-10-17 09:37] andrewfg commented on #16
Many thanks @kingy444

[2022-10-17 09:41] kingy444 commented on #16
@andrewfg how far along are you with the implementation of the hen 3 hub?

I know some of the naming changed such as poskind1 / tilt / primary etc but do the actual endpoints still take the same json format (using new names ?)

just getting this to where it needed to be for complete gen2 support now and I’ll start v3 soon - need to work out how much I need to do

[2022-10-19 18:22] andrewfg commented on #16
Hi @kingy444 .. a few updates..

- The coding is essentially finished :) -- see [PR #13355](https://github.com/openhab/openhab-addons/pull/13355)
- However we are awaiting some final information from @vves concerning last minute API changes.
- And also it is not tested; we are hoping that @vves can grant us VPN access to one of his hubs for testing.
- And my 'partner in crime' @jlaur has not yet h

[2022-10-19 18:24] andrewfg commented on #16
@kingy444 .. it is 'all of the above' see this link (you can expand the buttons) https://www.tdrs.info/Swagger%20UI.html

[2022-10-20 10:20] kingy444 commented on #16
Fingers crossed - i got a lot of work to get gen 3 into HA so that would be amazing

Its not clear from the api docs - do you know how shades that require both attributes to be sent behave in gen 3 ? ie in Gen2 - if you didnt post both positions the shade wouldnt return the data until a force refresh occurred

[2022-10-20 10:26] kingy444 commented on #16
also another set of capability 0 added
        shade_type(10, "Duette and Applause SkyLift"),

[2022-11-10 14:38] jwvanderbeck commented on #23
Just wanted to ping back in on this given more questions popping up in the HA forums.

What I've personally done right now is setup Node RED flows that let me simply open and close the blinds using the new API and then attached those to HA switches.  Not the best long term setup but it works for now.

That said a lot of other people might not have that technical ability so if there is anything I c

[2022-11-12 17:52] lairdm commented on #23
I've been watching this as an interested party, fortunately the API support in PV3 is amazing. The Hub has a swagger server that documents the API and lets you poke at it to try things. I've been able to manipulate my blinds just from their swagger server.

Having the units I might be able to offer some time to help, I think the kids are starting to entertain themselves more these days, but I'd ap

[2022-11-13 00:45] kingy444 commented on #16
@andrewfg did you have contact with the HD rep still / the swagger UI is no longer active

[2022-11-13 01:06] kingy444 commented on #23
i did start on this but then the api doco we had shared from HD went offline - i too am hoping it doesnt take too much to implement here and we would want all the changes made here (in the upstream api) where possible and only update HA where required.
HA will need some minimal changes but ideally this API continues to handle the current HA calls and manipulate for the hub as required (in order to

[2022-11-13 02:19] jwvanderbeck commented on #23
No idea of how to get a YAML export but if you know how let me know.  But simply saving it as a local HTML file seems to be relatively complete and self contained from some quick tests (except the favicon but who cares)
[Swagger UI.zip](https://github.com/sander76/aio-powerview-api/files/9996368/Swagger.UI.zip)

[2022-11-13 06:23] kingy444 commented on #23
There are a few tools to export available online but I’ve never personally used any of them

the file you provided likely looks to be working as it is all local to your network, but I cannot expand any of the endpoints

I have one other system using swagger in my network which I could try and work this out with - the only other option I’ve tested quickly (which provides some needed info) is an ext

[2022-11-13 06:42] kingy444 commented on #23
See what you can find too (on how to export for work offline)

I have been able to get the JSON from my swagger through this method - could you provide that ?
These are from chrome, others will be similar
1. Navigate to your Swagger docs endpoint
2. Open the browser developer console (usually F12)
3. Refresh the page
4. Navigate to the network tab and filter by XHR requests (In chrome this is Fetc

[2022-11-13 09:44] andrewfg commented on #16
Yes I and @jlaur have been in email contact with him. He promised to share the final spec with us. But apparently there is still some work to be done on it, and they have to push some new firmware, so it seems to be taking him a bit longer than he originally expected. But I will keep you posted.

I guess you are referring to the API that was posted / hosted by another HA user? Yes I also noticed t

[2022-11-13 12:55] jwvanderbeck commented on #23
I had tried that actually originally but couldn't see anything being sent except the html and some js

![image](https://user-images.githubusercontent.com/161126/201522329-b8a02f72-aed5-42ff-a276-6a2b841ec7a1.png)

This is the best I can do for now but I'll keep digging:
[HDPowerView3_API_Dump.pdf](https://github.com/sander76/aio-powerview-api/files/9997219/HDPowerView3_API_Dump.pdf)

[2022-11-13 12:56] jwvanderbeck commented on #23
Also here is that .mhtml
[Swagger UI.zip](https://github.com/sander76/aio-powerview-api/files/9997221/Swagger.UI.zip)

[2022-11-13 13:03] kingy444 commented on #23
thanks - ill take a look at the mhtml in the morning - to check if any of those responses have json return you can select them and then go to the reposnse tab -  it should start with curly braces
![image](https://user-images.githubusercontent.com/7148670/201522904-257a8c83-7b53-4184-b1fb-a2a01c016407.png)

[2022-11-13 13:09] jwvanderbeck commented on #23
Ok I got it figured out.  Had to dive through the JS files.  Here is the YAML.  FYI if you open this in openapi it WILL throiw a bunch of errors due to inverted values.  This is apparently correct in the API so just hide the error box and you should see the API
[hunterdouglas-Powerview3-openapi.zip](https://github.com/sander76/aio-powerview-api/files/9997236/hunterdouglas-Powerview3-openapi.zip)

[2022-11-13 13:47] jwvanderbeck commented on #23
One thing to be aware of which I haven't figured out yet is how to handle multi-hub setups.  I don't if this is a problem in v2 or if you have already solved it, but it is something I am running into in my v3 home which has 2 hubs.  The /home/ commands must be sent to the "primary" hub or else it will return an error.

`{"errMsg":"Multi-Gateway environment - this is not the primary gateway"}`

 Ho

[2022-11-14 00:18] lairdm commented on #23
Yeah I was just coming to report the same, this is one f'ed up swagger viewer. It jams the spec in a giant variable in this javascript file. Wow. Anhow, it looks like someone has given you the details, let me know if there's anything else I can do to help. I'm still willing to collaborate if you need it, I haven't gotten too rusty with my coding. :D

![Screenshot from 2022-11-13 16-15-22](https://